<h1>Checar a Idade</h1>

<form action="/check" method = "POST">
  <input name = "age" placeholder = 'idade'/>
  <button type = 'submit'> checar </button>
  <p>{{mensagem}}</p>
</form>

<a href ="/">lista de usuarios</a>
